<% variant = line_item.variant %>
<%= form.fields_for :line_items, line_item do |field| %>
  <tr id="line-item-<%= variant.id %>" class="line-item">
    <td class="col-xs-2">
      <%= link_to(remove_line_item_potepan_order_path(order.id, line_item_id: line_item.id), method: :delete) do %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      <% end %>
      <span class="cartImage">
        <%= image_tag(variant.display_image.attachment(:product), alt: "image") %>
      </span>
    </td>
    <td class="col-xs-4">
      <%= link_to potepan_product_path(variant.product), class: 'cart-product-link' do %>
        <div><%= line_item.name %></div>
        <div><small><%= variant.options_text %></small></div>
      <% end %>
    </td>
    <td class="col-xs-2"><%= line_item.display_price %></td>
    <td class="col-xs-2">
      <%= field.number_field :quantity, min: 1, max: 99, value: line_item.quantity %>
    </td>
    <td class="col-xs-2"><%= line_item.display_amount %></td>
  </tr>
<% end %>