<% provide(:title, "cart") %>
<% order_and_line_items_present = (@order.present? && @line_items.present?) %>
<div class="main-wrapper">
  <!-- LIGHT SECTION -->
  <section class="lightSection clearfix pageHeaderImage">
    <div class="container">
      <div class="tableBlock">
        <div class="row tableInner">
          <div class="col-xs-12">
            <div class="page-title">
              <h2>cart</h2>
              <ol class="breadcrumb">
                <li>
                  <a href="<%= potepan_root_path %>">Home</a>
                </li>
                <li class="active">cart</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- MAIN CONTENT SECTION -->
  <section class="mainContent clearfix cartListWrapper">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <% if order_and_line_items_present %>
            <div class="cartListInner">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th></th>
                      <th>商品名</th>
                      <th>価格</th>
                      <th>数</th>
                      <th>小計</th>
                    </tr>
                  </thead>
                  <tbody>
                    <%= form_with model: @order, url: potepan_order_path(@order), id: "cart-update-form", local: true do |form| %>
                      <%= render partial: 'line_item', collection: @line_items, locals: { order: @order, form: form } %>
                    <% end %>
                  </tbody>
                </table>
              </div>
              <div class="updateArea">
                <span onclick="FormSubmit('cart-update-form');" class="btn" id="update-btn">アップデート</span>
              </div>
              <div class="totalAmountArea">
                <div class="col-sm-4 col-sm-offset-8 col-xs-12">
                  <ul class="list-unstyled">
                    <li>小計 <span class="itemTotal"><%= @order.display_item_total %></span></li>
                    <li>消費税 <span class="taxAmount"><%= @order.display_tax_amount %></span></li>
                    <li>総計 <span class="grandTotal"><%= @order.display_total %></span></li>
                  </ul>
                </div>
              </div>
              <div class="checkBtnArea">
                <a href="#" class="btn btn-primary btn-block">購入する<i class="fa fa-arrow-circle-right"
                    aria-hidden="true"></i></a>
              </div>
            </div>
          <% else %>
            <h5>カートに商品はありません</h5>
          <% end %>
        </div>
      </div>
    </div>
  </section>
</div>