<% taxonomies.each do |taxonomy| %>
  <li>
    <a data-toggle="collapse" data-target="#taxonomy-<%= taxonomy.root.id %>">
      <%= taxonomy.root.name %>
      <i class="fa fa-plus"></i>
    </a>
    <ul id="taxonomy-<%= taxonomy.root.id %>" class="collapse collapseItem">
      <% taxons[taxonomy.id].each do |taxon| %>
        <%= taxon_list(taxon, display_style) %>
      <% end %>
    </ul>
  </li>
<% end %>