<% provide(:title, "カテゴリ - #{@taxon.name}") %>
<div class="main-wrapper">
  <!-- LIGHT SECTION -->
  <%= render 'potepan/shared/categories_and_search/top_section',  header_title: "#{@taxon.name}",
                                                                  page_name:    "#{@taxon.name}" %>
  <!-- MAIN CONTENT SECTION -->
  <%= render 'potepan/shared/categories_and_search/main_content_section', taxonomies:    @taxonomies,
                                                                          taxons:        @taxons, 
                                                                          display_style: @display_style, 
                                                                          filter_colors: @filter_colors,
                                                                          filter_color:  @filter_color,
                                                                          filter_size:   @filter_size,
                                                                          filter_sizes:  @filter_sizes,
                                                                          taxon:         @taxon,
                                                                          products:      @products,
                                                                          keyword:       nil %>
  <!-- LIGHT SECTION -->
  <%= render 'potepan/shared/light_section' %>
</div>