<% if @products.present? %>
  $("#show_products").html('<%= escape_javascript(render "potepan/shared/categories_and_search/display_#{@display_style}",  products:     @products,
                                                                                                                            filter_color: @filter_color, 
                                                                                                                            filter_size:  @filter_size) %>');
<% else %>
  $("#show_products").html('<h5>条件に合致する商品はありません</h5>');
<% end %>