<% images.each_with_index do |image, index| %>
  <% add_class = "active" if index.zero? %>
  <div class="item <%= add_class %>" data-thumb="<%= index %>">
    <%= image_tag(image.attachment(:large)) %>
  </div>
<% end %>
