<% if product.has_variants? %>
  <% product.variants.each do |variant| %>
    <option value="<%= variant.id %>">
      <%= variant.options_text %>
    </option>
  <% end %>
<% else %>
  <option value="<%= product.master.id %>">ALL</option>
<% end %>