<%= link_to potepan_product_path(similar_product) do %>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="productBox">
      <div class="productImage clearfix">
        <%= image_tag(similar_product.display_image.attachment(:product), alt: "products-img") %>
      </div>
      <div class="productCaption clearfix">
        <h5><%= similar_product.name %></h5>
        <h3><%= similar_product.display_price %></h3>
      </div>
    </div>
  </div>
<% end %>