<% provide(:title, "検索結果") %>
<div class="main-wrapper">
  <!-- LIGHT SECTION -->
  <%= render 'potepan/shared/categories_and_search/top_section',  header_title: "検索条件：#{@keyword}",
                                                                  page_name: @keyword %>
  <!-- MAIN CONTENT SECTION -->
  <%= render 'potepan/shared/categories_and_search/main_content_section', taxonomies:    nil,
                                                                          taxons:        nil, 
                                                                          display_style: @display_style, 
                                                                          filter_colors: @filter_colors,
                                                                          filter_color:  @filter_color,
                                                                          filter_size:   @filter_size,
                                                                          filter_sizes:  @filter_sizes,
                                                                          taxon:         nil,
                                                                          products:      @ordered_products,
                                                                          keyword:       @keyword %>
  <!-- LIGHT SECTION -->
  <%= render 'potepan/shared/light_section' %>
</div>