<% provide(:title, @product.name) %>
<div class="main-wrapper">
  <!-- LIGHT SECTION -->
  <section class="lightSection clearfix pageHeader">
    <div class="container">
      <div class="row">
        <div class="col-xs-6">
          <div class="page-title">
            <h2><%= @product.name %></h2>
          </div>
        </div>
        <div class="col-xs-6">
          <ol class="breadcrumb pull-right">
            <li>
              <a href="<%= potepan_root_path %>">Home</a>
            </li>
            <li class="active"><%= @product.name %></li>
          </ol>
        </div>
      </div>
    </div>
  </section>
  <!-- MAIN CONTENT SECTION -->
  <section class="mainContent clearfix">
    <div class="container">
      <div class="row singleProduct">
        <div class="col-xs-12">
          <div class="media">
            <div class="media-left productSlider">
              <div id="carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" id="image-carousel-inner">
                  <%= render 'image', images: @images %>
                </div>
              </div>
              <div class="clearfix">
                <div id="thumbcarousel" class="carousel slide" data-interval="false">
                  <div class="carousel-inner" id="thumb-carousel-inner">
                    <%= render 'thumb', images: @images %>
                  </div>
                  <a class="left carousel-control" href="#thumbcarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                  </a>
                  <a class="right carousel-control" href="#thumbcarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                  </a>
                </div>
              </div>
            </div>
            <div class="media-body">
              <ul class="list-inline">
                <li>
                  <% if @product.taxon_ids[0] %>
                    <a href="<%= potepan_category_path(@product.taxon_ids[0]) %>"><i class="fa fa-reply" aria-hidden="true"></i>一覧ページへ戻る</a>
                  <% end %>
                </li>
              </ul>
              <h2><%= @product.name %></h2>
              <h3><%= @variant.display_price %></h3>
              <p><%= @product.description %></p>
              <%= form_with scope: :order, url: populate_potepan_orders_path, local: true, id: 'cart-form' do %>
                <span class="quick-drop">
                  <select name="guiest_id3" id="guiest_id3" class="select-drop">
                    <%= render 'option_values', product: @product %>
                  </select>
                </span>
                <span class="quick-drop resizeWidth">
                  <%= select_tag(:quantity,
                    options_for_select(order_quantity_options(max_quantity: 10)),
                    id: "guiest_id4", class: "select-drop",) 
                  %>
                </span>
                <span class="stock">
                  <%= render 'stock_items', variant: @variant %>
                </span>
                <div id="hidden-variant-id">
                  <%= hidden_field_tag :variant_id, @variant.id %>
                </div>
                <div class="btn-area">
                  <span class="btn btn-primary btn-block order" onclick="FormSubmit('cart-form')">カートへ入れる<i class="fa fa-angle-right" aria-hidden="true"></i></span>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="row productsContent">
        <div class="col-xs-12">
          <div class="page-header">
            <h4>関連商品</h4>
          </div>
          <% if @similar_products.present? %>
            <%= render partial: 'similar_product', collection: @similar_products %>
          <% else %>
            <h5>この商品に関連する商品はありません</h5>
          <% end %>
        </div>
      </div>
    </div>
  </section>
</div>