$("#image-carousel-inner").html("<%= escape_javascript(render 'image', images: @images) %>");
$("#thumb-carousel-inner").html("<%= escape_javascript(render 'thumb', images: @images) %>");
$(".media-body h3").html("<%= @variant.display_price %>");
$(".stock").html("<%= escape_javascript(render 'stock_items', variant: @variant) %>");
$("#hidden-variant-id").html("<%= escape_javascript(hidden_field_tag :variant_id, @variant.id) %>")