<div class="slide">
  <%= link_to potepan_product_path(new_arrival_product) do %>
    <div class="productImage clearfix">
      <%= image_tag(new_arrival_product.display_image.attachment(:product), alt: "featured-product-img") %>
    </div>
    <div class="productCaption clearfix">
      <h5><%= new_arrival_product.name %></h5>
      <h3><%= new_arrival_product.display_price %></h3>
    </div>
  <% end %>
</div>