<% product = popular_category.products.first %>
<div class="col-sm-4 col-xs-12">
  <div class="thumbnail">
    <div class="imageWrapper">
      <%= image_tag(product.display_image.attachment(:large), alt: "featured-product-img") %>
      <div class="masking">
        <a href="<%= potepan_category_path(popular_category.id) %>" class="btn viewBtn">
          <%= "View #{popular_category.name}" %>
        </a>
      </div>
    </div>
    <div class="caption">
      <h4><%= popular_category.name %></h4>
    </div>
  </div>
</div>