<div class="main-wrapper">
  <!-- BANNER -->
  <div class="bannercontainer">
    <div class="fullscreenbanner-container">
      <div class="fullscreenbanner">
        <ul>
          <li>
            <%= image_tag("home/banner-slider/slider-bg.jpg", :alt => "slidebg1", data:{bgposition: "center center", bgfit: "cover" , bgrepeat: "no-repeat"}) %>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- MAIN CONTENT SECTION -->
  <section class="mainContent clearfix">
    <div class="container">
      <div class="row featuredCollection">
        <div class="col-xs-12">
          <div class="page-header">
            <h4>人気カテゴリー</h4>
          </div>
          <%= render partial: 'popular_category', collection: @popular_taxons %>
        </div>
      </div>
      <div class="row featuredProducts">
        <div class="col-xs-12">
          <div class="page-header">
            <h4>新着商品</h4>
          </div>
        </div>
        <div class="col-xs-12">
          <% if @new_arrival_products.present? %>
            <div class="owl-carousel featuredProductsSlider">
              <%= render partial: 'new_arrival_product', collection: @new_arrival_products %>
            </div>
          <% else %>
            <h5>新着商品はありません</h5>
          <% end %>
        </div>
      </div>
    </div>
  </section>
  <!-- LIGHT SECTION -->
  <%= render 'potepan/shared/light_section' %>
</div>