<div class="row">
  <% products.each do |product| %>
    <%= link_to potepan_product_path(product) do %>
      <div class="col-sm-4 col-xs-12">
        <div class="productBox">
          <div class="productImage clearfix">
            <%= image_tag(product.display_image.attachment(:product), alt: "products-img") %>
          </div>
          <div class="productCaption clearfix">
            <h5><%= product.name %></h5>
            <h3><%= product.display_price %></h3>
            <% if product.has_variants? %>
              <h6><%= variation_message(filter_color: filter_color, filter_size: filter_size) %></h6>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>