<div class="row productListSingle">
  <% products.each do |product| %>
    <div class="col-xs-12">
      <div class="media">
        <div class="media-left">
          <%= image_tag(product.display_image.attachment(:product), class: "media-object", alt: "Image") %>
        </div>
        <div class="media-body">
          <h4 class="media-heading">
            <%= link_to product.name, potepan_product_path(product) %>
          </h4>
          <p><%= product.description %></p>
          <h3><%= product.display_price %></h3>
          <% if product.has_variants? %>
            <h6><%= variation_message(filter_color: filter_color, filter_size: filter_size) %></h6>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>