<% selected = (filter_color_now == filter_color.id.to_s) %>
<% params = { filter_color:   filter_color, 
              filter_size:    filter_size, 
              display_style:  display_style, 
              selected_color: selected, 
              selected_size:  false,
              keyword:        keyword } %>

<% if taxon.present? %>
  <% filter_color_link = potepan_category_path(filter_query_params(params))%>
<% else %>
  <% filter_color_link = potepan_products_path(filter_query_params(params)) %>
<% end %>
<li>
  <%= link_to filter_color_link do %>
    <%= filter_color.presentation %>
    <%= '✔︎' if selected %>
  <% end %>
</li>
