<% selected = (filter_size_now == filter_size.id.to_s) %>
<% params = { filter_color:   filter_color, 
              filter_size:    filter_size, 
              display_style:  display_style, 
              selected_color: false, 
              selected_size:  selected,
              keyword:        keyword } %>

<% if taxon.present? %>
  <% filter_size_link = potepan_category_path(filter_query_params(params)) %>
<% else %>
  <% filter_size_link = potepan_products_path(filter_query_params(params)) %>
<% end %>
<li>
  <%= link_to filter_size_link do %>
    <%= filter_size.presentation %>
    <%= '✔︎' if selected %>
  <% end %>
</li>
