<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <% if taxonomies.present? && taxons.present? %>
          <div class="panel panel-default">
            <div class="panel-heading">商品カテゴリー</div>
            <div class="panel-body">
              <div class="collapse navbar-collapse navbar-ex1-collapse navbar-side-collapse">
                <ul class="nav navbar-nav side-nav">
                  <%= render 'potepan/categories/categories', taxonomies: taxonomies, taxons: taxons, display_style: display_style %>
                </ul>
              </div>
            </div>
          </div>
        <% end %>
        <div class="panel panel-default filterNormal" id="color-filter-panel">
          <div class="panel-heading">色から探す</div>
          <div class="panel-body">
            <ul class="list-unstyled">
              <% if filter_colors.present? %>
                <%= render partial: 'potepan/shared/categories_and_search/filter_color', collection: filter_colors, locals: { filter_color_now: filter_color, 
                                                                                                                              filter_size:      filter_size, 
                                                                                                                              display_style:    display_style,
                                                                                                                              taxon:            taxon,
                                                                                                                              keyword:          keyword } %>
              <% else %>
                <li>色のオプションはありません</li>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="panel panel-default filterNormal" id="size-filter-panel">
          <div class="panel-heading">サイズから探す</div>
          <div class="panel-body">
            <ul class="list-unstyled clearfix">
              <% if filter_sizes.present? %>
                <%= render partial: 'potepan/shared/categories_and_search/filter_size', collection: filter_sizes, locals: { filter_size_now: filter_size, 
                                                                                                                            filter_color:    filter_color, 
                                                                                                                            display_style:   display_style,
                                                                                                                            taxon:           taxon,
                                                                                                                            keyword:         keyword } %>
              <% else %>
                <li>サイズのオプションはありません</li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <div class="row filterArea">
          <div class="col-xs-6">
            <select name="guiest_id1" id="guiest_id1" class="select-drop">
              <option value="0">新着順</option>
              <option value="1">安い順</option>
              <option value="2">高い順</option>
              <option value="3">古い順</option>
            </select>
          </div>
          <div class="col-xs-6">
            <div class="btn-group pull-right" role="group">
              <% if taxon.present? %>
                <% grid_display_link = potepan_category_path(id: taxon.id, display_style: 'grid', filter_color: filter_color, filter_size: filter_size) %>
                <% list_display_link = potepan_category_path(id: taxon.id, display_style: 'list', filter_color: filter_color, filter_size: filter_size) %>
              <% else %>
                <% grid_display_link = potepan_products_path(keyword: keyword, display_style: 'grid', filter_color: filter_color, filter_size: filter_size) %>
                <% list_display_link = potepan_products_path(keyword: keyword, display_style: 'list', filter_color: filter_color, filter_size: filter_size) %>
              <% end %>
              <%= link_to grid_display_link do %>
                <button type="button" class="btn btn-default <%= display_style == 'grid' ? 'active' : '' %>">
                  <i class="fa fa-th" aria-hidden="true"></i>
                  <span>Grid</span>
                </button>
              <% end %>
              <%= link_to list_display_link do %>
                <button type="button" class="btn btn-default <%= display_style == 'list' ? 'active' : '' %>">
                  <i class="fa fa-th-list" aria-hidden="true"></i>
                  <span>List</span>
                </button>
              <% end %>
            </div>
          </div>
        </div>
        <div id="show_products">
          <% if products.present? %>
            <%= render "potepan/shared/categories_and_search/display_#{display_style}", products:     products, 
                                                                                        filter_color: filter_color, 
                                                                                        filter_size:  filter_size %>
          <% else %>
            <h5>条件に合致する商品はありません</h5>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>