<div class="header clearfix">
  <!-- TOPBAR -->
  <div class="topBar">
    <div class="container">
      <div class="row">
        <div class="col-md-6 hidden-sm hidden-xs">
          <ul class="list-inline">
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          </ul>
        </div>
        <div class="col-md-6 col-xs-12">
          <ul class="list-inline pull-right">
            <li class="dropdown searchBox">
              <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-search"></i>
              </a>
              <ul class="dropdown-menu dropdown-menu-right">
                <%= form_with url: potepan_products_path, id: "search-form", method: :get, local: true do |f| %>
                  <li>
                    <span class="input-group">
                      <%= f.text_field :keyword, class: "form-control", placeholder: "Search…", aria: { describedby: "basic-addon2" } %>
                      <%= content_tag :span, "検索", class: 'input-group-addon addPointer', id: "basic-addon2", onclick: "FormSubmit('search-form');" %>
                    </span>
                  </li>
                <% end %>
              </ul>
            </li>
            <li class="dropdown">
              <a href="<%= potepan_cart_path %>" class="dropdown-toggle" data-toggle="dropdown disabled" id="cart-page-link">
                <i class="fa fa-shopping-cart"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- NAVBAR -->
  <nav class="navbar navbar-main navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="<%= potepan_root_path %>"><%= image_tag("img/logo.png", :alt => "") %></a>
      </div>
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="<%= potepan_root_path %>">Home</a></li>
          <li class="dropdown megaDropMenu active">
            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
              data-delay="300" data-close-others="true" aria-expanded="false">Shop</a>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div>
  </nav>
  <!-- FLASH -->
  <%= render 'layouts/flash' %>
</div>