<!DOCTYPE html>
<html lang="ja">
  <head>
    <!--  HEAD  -->
    <%= render 'layouts/head' %>
  </head>
  <body>
    <!-- HEADER -->
    <%= render 'layouts/header' %>
    <!-- CONTENTS -->
    <%= yield %>
    <!-- FOOTER -->
    <%= render 'layouts/footer' %>
  </body>
</html>
